
* {
    box-sizing: border-box;
    transform: all 0.3s ease-in-out; 
}

body, html {
    margin: 0;
    padding: 0;
}


#header {
    width: 100%;
    height: 90px;
    /*background-color: rgb(6, 6, 74);*/
    background-color: black;
    -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

#img_div {
    background: url(../img/imagen-capi-removebg-preview.png)center center / cover no-repeat;
    height: 80px;
    width: 80px;
}

#texto_logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 2px;
}

#numero_texto {
    font-size: 40px;
    color: rgb(30, 144, 144);
    font-family: 'Bebas Neue', sans-serif;
}

#contenedor_sesion {
    height: 90px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content:space-between;
    padding: 25px;
    
}

#usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#imagenUsuario {
    border-radius: 20px;
    border: 2px solid transparent; /* Borde inicial transparente */
    position: relative;
    animation: colorChange 2s linear infinite;
}

@keyframes colorChange {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    50% {
      border-color: green;
    }
    75% {
      border-color: orange;
    }
    100% {
      border-color: red;
    }
  }

#estado_sesion {
    height: 45px;
    width: 400px;
    background: rgb(29, 122, 158);
    margin-right: 40px;
    
    display: flex;
    align-items:center;
    justify-content:flex-start;
    align-content: center;
    border: 5px solid black;
   

    
}

#iniciar_sesion {
    height: 40px;
    width: 200px;
    border-radius: 25px;
}

#enlace_cerrar {
    height: 45px;
    width: 200px;
    color: black;
    background-color: rgb(90, 101, 102);
    transition: background-color 0.7s;
   
}

#enlace_cerrar:hover {
    background-color: rgb(29, 122, 158);
}

#enlace_sesion {
    height: 45px;
    width: 200px;
    color: black;
    background-color: rgb(90, 101, 102);
    transition: background-color 0.7s;
    

}
#enlace_registro {
    height: 45px;
    width: 200px;
    color: black;
    background-color: rgb(90, 101, 102);
    transition: background-color 0.7s;
    
     
}

#enlace_registro:hover {
    background-color: rgb(29, 122, 158);
}

#enlace_sesion:hover {
    background-color: rgb(29, 122, 158);
}

#contenedor_imagen_sesion {
    height: 40px;
    width: 40px;
    background-color: bisque;
    border-radius: 10px;
}
/*
#barra_izquierda {
    background-color: rgb(26, 25, 32);
    height: 100vh;
    width: 230px;
    flex-direction: column;
    border-width: 0px 1px 0px 0px;
    border-color: none gainsboro none none;
    border-style: none solid none none;
    -webkit-backdrop-filter: blur(-800px);backdrop-filter: blur(-900px);
}
*/
body {
    background-color: #0f0f0f;
    
    
}

#articulo {
    width: 100%;
    height: 100vh ;
    background: #0f0f0f;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
}

#parte_superior {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:center;
    
    background-color: #0f0f0f;
}

#bienvenida {
    font-size: 28px;
    color: antiquewhite;
}

#imagenUsuario {
    background: url(../img/CP9-fotor-20231002212114.png)center center / cover no-repeat;
    height: 80px;
    width: 80px;
}

#barra_busqueda {
    width: 490px;
    height: 43px;
    background: transparent;
    margin-top: 7px;
    border-radius: 20px;
    display: flex;
   
    
}

#busqueda {
    
    width: 440px;
    height: 43px;
    background: transparent;
    border: 1px solid #484747;
    border-radius: 20px 0px 0px 20px;
    color: #5c5b5b;
    
    

    
}

#boton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    height: 43px;
    width: 50px;
    border-radius: 0px 20px 20px 0px;
    background: url(../img/lupa-removebg-preview.png)center center / cover no-repeat;
    background-color: rgb(154, 165, 165);
    transition: background-color 0.3s;
    border-color: #484747;
}

#boton:hover {
    background-color: rgb(29, 122, 158);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: antiquewhite;
    
    text-decoration: none;
    color: initial;
    text-align: center;
    padding: 10px;
    
    
    
    
}



#contenido {
    width: 100%;
    height: 580px;
    background-color: #0f0f0f;
    vertical-align: bottom;
    position: relative;
    bottom: -5;
    
    
}

#titulo_agregados{
    text-align: center;
    color: antiquewhite;
    font-family: 'Bebas Neue', sans-serif;
    
}

#nuevos_videos {
    background: #0f0f0f;
    height: 230px;
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
}


.caja-videos {
    background-color: #1d1d1d;
    height: 170px;
    width: 300px;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    align-content: start;
    
    
}

.titulo-video{
    text-align: center;
    font-size: larger;
    height: 15px;
    width: 300px;
    font-family: 'Bebas Neue', sans-serif;
}
#opciones_usuario {
    width: 100%;
    height: 50px;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opciones_usuario li {
    list-style: none; 
    margin: 0 10px; 
    margin-top: 30px;
}

#usuarios {
    height: 50px;
    background-color: rgb(90, 101, 102);
    transition: background-color 0.5s;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;;
    text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
    display: inline-block; 
    padding: 15px 20px; 
    border-radius: 5px; 
    color: #000000; 
}

#usuarios:hover {
    background-color: #007bff; /* Cambia el color de fondo al pasar el mouse sobre los botones */
}
#usuarios:hover {
    background-color: rgb(29, 122, 158) ;
}

#titulo_contenido {
    color: antiquewhite;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 27px;
}
#contenedor_contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Centra los elementos horizontalmente */
    flex-grow: 20px;
    
}
#padre_contenido {
    
   
    height: fit-content;
    
   
}

#contenedor_portada {
    width: 400px;
    height: 250px;
    margin: 15px; /* Espacio entre las portadas */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    background-color: transparent;
    border-radius: 10px;
}

#contenedor {
    width: 100%;
    max-height: 190px; /* Establece una altura máxima para evitar que el contenido se desborde */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

#imagenPortada {
    width: 100%;
    height: auto; /* Ajusta automáticamente la altura en función del ancho */
    border-radius: 10px;
}

#nombre_portada, #usuario_portada {
    color: antiquewhite;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 17px;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#nombre_portada {
    order: 1; 
}

#usuario_portada {
    order: 2; 
    text-align: left; 
    padding-left: 0px;
}









#pie_pagina {
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #070707;
    color: #fff;
    text-align: center;
}

#div_pie1, #div_pie2 {
    width: 50%;
    display: flex;
    align-items: center;
}

#imagen_pie, #imagen_CP9 {
    background: url(../img/imagen-capi2-removebg-preview.png) center center / cover no-repeat;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#imagen_CP9 {
    background: url(../img/CP9-fotor-20231002212114.png) center center / cover no-repeat;
}

#texto_pie, #creditos {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

#texto_pie a {
    color: #007bff; /* Cambia el color del enlace */
    text-decoration: none;
}

#desarrollador, #mas {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#siguenos {
    background: url(../img/todo.png)center center / cover no-repeat;
    height: 100px;
    width: 100px;
    
}
