
* {
    box-sizing: border-box;
    transform: all 0.3s ease-in-out; 
}

body, html {
    margin: 0;
    padding: 0;
}



#header {
    width: 100%;
    height: 90px;
    /*background-color: rgb(6, 6, 74);*/
    background-color: black;
    -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

#img_div {
    background: url(../img/imagen-capi-removebg-preview.png)center center / cover no-repeat;
    height: 80px;
    width: 80px;
}

#texto_logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 2px;
}

#numero_texto {
    font-size: 40px;
    color: rgb(30, 144, 144);
    font-family: 'Bebas Neue', sans-serif;
}

#contenedor_sesion {
    height: 90px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content:space-between;
    padding: 25px;
    
}

#usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#imagenUsuario {
    border-radius: 20px;
    border: 2px solid transparent; /* Borde inicial transparente */
    position: relative;
    animation: colorChange 2s linear infinite;
}

@keyframes colorChange {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    50% {
      border-color: green;
    }
    75% {
      border-color: orange;
    }
    100% {
      border-color: red;
    }
  }

#estado_sesion {
    height: 45px;
    width: 400px;
    background: rgb(29, 122, 158);
    margin-right: 40px;
    
    display: flex;
    align-items:center;
    justify-content:flex-start;
    align-content: center;
    border: 5px solid black;
   

    
}

#iniciar_sesion {
    height: 40px;
    width: 200px;
    border-radius: 25px;
}

#enlace_cerrar {
    height: 45px;
    width: 200px;
    color: black;
    background-color: rgb(90, 101, 102);
    transition: background-color 0.7s;
   
}

#enlace_cerrar:hover {
    background-color: rgb(29, 122, 158);
}

#enlace_sesion {
    height: 45px;
    width: 200px;
    color: black;
    background-color: rgb(90, 101, 102);
    transition: background-color 0.7s;
    

}
#enlace_registro {
    height: 45px;
    width: 200px;
    color: black;
    background-color: rgb(90, 101, 102);
    transition: background-color 0.7s;
    
     
}

#enlace_registro:hover {
    background-color: rgb(29, 122, 158);
}

#enlace_sesion:hover {
    background-color: rgb(29, 122, 158);
}

#contenedor_imagen_sesion {
    height: 40px;
    width: 40px;
    background-color: bisque;
    border-radius: 10px;
}
/*
#barra_izquierda {
    background-color: rgb(26, 25, 32);
    height: 100vh;
    width: 230px;
    flex-direction: column;
    border-width: 0px 1px 0px 0px;
    border-color: none gainsboro none none;
    border-style: none solid none none;
    -webkit-backdrop-filter: blur(-800px);backdrop-filter: blur(-900px);
}
*/
body {
    background-color: #0f0f0f;
    
    
}

#articulo {
    width: 100%;
    height: 100vh ;
    background: #0f0f0f;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
}

#parte_superior {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:center;
    
    background-color: #0f0f0f;
}

#bienvenida {
    font-size: 28px;
    color: antiquewhite;
}

#imagenUsuario {
    background: url(../img/CP9-fotor-20231002212114.png)center center / cover no-repeat;
    height: 80px;
    width: 80px;
}

#barra_busqueda {
    width: 490px;
    height: 43px;
    background: transparent;
    margin-top: 7px;
    border-radius: 20px;
    display: flex;
   
    
}

#busqueda {
    
    width: 440px;
    height: 43px;
    background: transparent;
    border: 1px solid #484747;
    border-radius: 20px 0px 0px 20px;
    color: #5c5b5b;
    
    

    
}

#boton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    height: 43px;
    width: 50px;
    border-radius: 0px 20px 20px 0px;
    background: url(../img/lupa-removebg-preview.png)center center / cover no-repeat;
    background-color: rgb(154, 165, 165);
    transition: background-color 0.7s;
    border-color: #484747;
}

#boton:hover {
    background-color: rgb(29, 122, 158);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: antiquewhite;
    
    text-decoration: none;
    color: initial;
    text-align: center;
    padding: 10px;
    
    
    
    
}



#contenido {
    width: 100%;
    height: 580px;
    background-color: #0f0f0f;
    vertical-align: bottom;
    position: relative;
    bottom: -5;
    
    
}

#titulo_agregados{
    text-align: center;
    color: antiquewhite;
    font-family: 'Bebas Neue', sans-serif;
    
}

#nuevos_videos {
    background: #0f0f0f;
    height: 230px;
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
}


.caja-videos {
    background-color: #1d1d1d;
    height: 170px;
    width: 300px;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    align-content: start;
    
    
}

.titulo-video{
    text-align: center;
    font-size: larger;
    height: 15px;
    width: 300px;
    font-family: 'Bebas Neue', sans-serif;
}

#opciones_usuario {
    width: 100%;
    height: 50px;
    background-color: #0f0f0f;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#opciones_videos {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

#usuarios {
    height: 50px;
    width: 100%;
    background-color: (90, 101, 102);
    background-color: rgb(90, 101, 102);
    transition: background-color 0.5s;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif ;
}

#usuarios:hover {
    background-color: rgb(29, 122, 158) ;
}

#titulo_contenido {
    color: antiquewhite;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 27px;
}

#contenedor_contenido {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
}

#contenedor_portada {
    border-radius: 10px;
    background-color: #1d1d1d;
    width: 320px;
    height: 200px;
    display: flex;
    align-content: stretch;

}

#imagen_portada {
    
    width: 320px;
    height:190px;
    
}

#nombre_portada {
    position: relative;
    z-index: index 1;
    color: antiquewhite;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 17px;
}




























#pie_pagina {
    width: 100%;
    height: 210px;
    background-color: black;
    -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    
    
    
    
}

#div_pie1 {
    height: 100px;
    width: 1554px;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    align-content: center;
    

}

#div_pie2 {
    height: 100px;
    width: 1554px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;

}

#desarrollador {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}

#mas {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#texto_pie {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

#imagen_pie {
    background: url(../img/imagen-capi2-removebg-preview.png)center center / cover no-repeat;
    height: 80px;
    width: 80px;
}

#imagen_CP9 {
    background: url(../img/CP9-fotor-20231002212114.png)center center / cover no-repeat;
    height: 80px;
    width: 80px;
}

#siguenos {
    background: url(../img/todo.png)center center / cover no-repeat;
    height: 100px;
    width: 100px;
    
}

#creditos {
    font-size: 20px;
    color: white;
    padding: 20px;
    
}

