
* {
    box-sizing: border-box;
    transform: all 0.3s ease-in-out; 
    
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#header {
    width: 100%;
    height: 120px;
    /*background-color: rgb(6, 6, 74);*/
    background-color: black;
    -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#img_div {
    background: url(../img/imagen-capi-removebg-preview.png)center center / cover no-repeat;
    height: 100px;
    width: 100px;
}

#texto_logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 2px;
}

#numero_texto {
    font-size: 40px;
    color: rgb(30, 144, 144);
    font-family: 'Bebas Neue', sans-serif;
}

#contenedor_sesion {
    height: 90px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content:space-between;
    
    
}

#usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#imagenUsuario {
    border-radius: 38px;
    border: 2px solid transparent; /* Borde inicial transparente */
    position: relative;
    border-color: #fff;
    cursor: pointer;
}

#imagenUsuario:hover {
    border-radius: 40px;
    animation: colorChange 2s linear infinite;
    border-color: none;
}

@keyframes colorChange {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    50% {
      border-color: green;
    }
    75% {
      border-color: orange;
    }
    100% {
      border-color: red;
    }
  }

#estado_sesion {
    height: 100%;
    width: 400px;
    background: black;

    display: flex;
    align-items:center;
    justify-content:flex-end;
    align-content: center;
    border: 5px solid black;
   

    
}

#iniciar_sesion {
    height: 40px;
    width: 200px;
    border-radius: 25px;
    color: #fff;
    
}

#lista_desordenada {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#lista_ordenada {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#enlace_cerrar {
    height: 45px;
    white-space: nowrap;
    color: rgb(204, 198, 198);
    background-color: black;
    transition: color 0.3s ease ease-in-out;
    
}

#enlace_cerrar::before {
    content: '';
    position: absolute;
    bottom: 44px; 
    height: 2px;
    background: linear-gradient(to right, red, blue);
    transition: width 0.3s ease ease-in-out; 
}

#enlace_cerrar:hover::before {
    width: 100px; 
}


#enlace_sesion {
    height: 45px;
    width: 200px;
    color: rgb(204, 198, 198);
    background-color: black;
    transition: color 0.3s ease-in-out;
    
}


#enlace_sesion::before {
    content: '';
    position: absolute;
    bottom: 44px; 
    height: 2px; 
    background: linear-gradient(to right, red, blue); 
    transition: width 0.3s ease ease-in-out; 
}

#enlace_sesion:hover::before {
    width: 95px; 
}


#enlace_registro {
    height: 45px;
    width: 200px;
    color: black;
    background-color: black;
    transition: background-color 0.7s;
    color: rgb(204, 198, 198);
    transition: color 0.3s ease-in-out;
}


#enlace_registro::before {
    content: '';
    position: absolute;
    bottom: 44px; 
    height: 2px;
    background: linear-gradient(to right, red, blue);
    transition: width 0.3s ease ease-in-out; 
}

#enlace_registro:hover::before {
    width: 70px; 
}


#enlace_registro:hover {
    background-color: black;
}

#enlace_sesion:hover {
    background-color: black;
}

#contenedor_imagen_sesion {
    height: 40px;
    width: 40px;
    background-color: bisque;
    border-radius: 10px;
}



body {
    background-color: #0f0f0f;
    
    
}

#articulo {
    width: 100%;
    height: fit-content ;
    background: #0f0f0f;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
}

#parte_superior {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:center;
    
    background-color: #0f0f0f;
}


#imagenUsuario {
    background: url(../img/CP9-fotor-20231002212114.png)center center / cover no-repeat;
    height: 80px;
    width: 80px;
}

#barra_busqueda {
    width: 490px;
    height: 43px;
    background: transparent;
    margin-top: 7px;
    border-radius: 20px;
    display: flex;
   
    
}

#busqueda {
    
    width: 440px;
    height: 43px;
    background: transparent;
    border: 1px solid #484747;
    border-radius: 20px 0px 0px 20px;
    color: #5c5b5b;
    
    

    
}

#boton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    height: 43px;
    width: 50px;
    border-radius: 0px 20px 20px 0px;
    background: url(../img/lupa-removebg-preview.png)center center / cover no-repeat;
    background-color: rgb(154, 165, 165);
    transition: background-color 0.3s;
    border-color: #484747;
}

#boton:hover {
    background-color: rgb(29, 122, 158);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: antiquewhite;
    font-size: 1.1em;
    text-decoration: none;
    color: initial;
    text-align: center;
    padding: 10px;
    
    
    
    
}

#menu-outline {
    background-color: black;
    height: 40px;
    width: 70px;
    color: white;
    cursor: pointer;
    
}

#miInputCheck {
    display: none;
  }

#contenido {
    width: 100%;
    height: fit-content;
    background-color: #0f0f0f;
    vertical-align: bottom;
    position: relative;
    
    
    
}

#titulo_agregados{
    text-align: center;
    color: antiquewhite;
    font-family: 'Bebas Neue', sans-serif;
    
}

#nuevos_videos {
    background: #0f0f0f;
    height: fit-content;
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
}


.caja-videos {
    background-color: #1d1d1d;
    height: fit-content;
    width: 300px;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    align-content: start;
    flex: 1; /* El contenido principal se expandirá para llenar el espacio disponible */
    
    
}

.titulo-video{
    text-align: center;
    font-size: larger;
    height: 15px;
    width: 300px;
    font-family: 'Bebas Neue', sans-serif;
}
#opciones_usuario {
    width: 100%;
    height: 50px;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opciones_usuario li {
    list-style: none; 
    margin: 0 ; 
    margin-top: 30px;
}

#usuarios {
    height: 50px;
    background-color: rgb(90, 101, 102);
    transition: background-color 0.5s;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;;
    text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
    display: inline-block; 
    padding: 15px 20px; 
    
    color: #000000; 
}

#usuarios:hover {
    background-color: #007bff; /* Cambia el color de fondo al pasar el mouse sobre los botones */
}
#usuarios:hover {
    background-color: rgb(29, 122, 158) ;
}

#titulo_contenido {
    color: antiquewhite;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 27px;
}
#contenedor_contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Centra los elementos horizontalmente */
    flex-grow: 20px;
    
}


#contenedor_portada {
    width: 400px;
    height: 290px;
    margin: 15px; /* Espacio entre las portadas */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    background-color: transparent;
    border-radius: 10px;
}

#contenedor {
    width: 100%;
    max-height: 190px; /* Establece una altura máxima para evitar que el contenido se desborde */
    overflow: hidden; /* Oculta el contenido que se desborda */
    display: flex;
    align-items: center;
}

#imagenPortada {
    width: 100%;
    height: 270px; /* Ajusta automáticamente la altura en función del ancho */
    border-radius: 10px;
    background-color: #302e2e;
    
}

#usuario_imagen {
    border-radius: 27px;
    margin-right: 10px; /* Espacio entre la imagen del usuario y la fecha */
}

/* Estilos para la información de la portada */
#descripcion_portada {
    height: 120px;
}

#nombre_portada  {
    color: rgb(174, 174, 174);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 19px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#usuario_portada, #fecha {
    color: rgb(60, 60, 60);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 17px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#nombre_portada {
    order: 1;
}

#usuario_portada {
    order: 2;
}

#fecha {
    order: 3;
    color: #484747;
}








#pie_pagina {
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    bottom: 0;
    left: 0;
    right: 0;
    background-color: #070707;
    color: #fff;
    text-align: center;
}

#div_pie1, #div_pie2 {
    width: 50%;
    display: flex;
    align-items: center;
}

#imagen_pie, #imagen_CP9 {
    background: url(../img/imagen-capi2-removebg-preview.png) center center / cover no-repeat;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#imagen_CP9 {
    background: url(../img/CP9-fotor-20231002212114.png) center center / cover no-repeat;
}

#texto_pie, #creditos {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

#texto_pie a {
    color: #007bff; /* Cambia el color del enlace */
    text-decoration: none;
}

#desarrollador, #mas {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#siguenos {
    background: url(../img/todo.png)center center / cover no-repeat;
    height: 100px;
    width: 100px;
    
}
