* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transform: all 0.3s ease-in-out;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/iniciarSesion.webp') center center / cover no-repeat;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(229, 229, 229);
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
    margin-top: 20px;
}

p {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(229, 229, 229);
    text-align: center;
    padding-bottom: 20px;
}

#reenviar_codigo {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(229, 229, 229);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#reenviar_codigo a {
    color: white;
    text-decoration: none;
}

#reenviar_codigo a:hover {
    text-decoration:underline;
}

#gran_padre {
    height: 500px;
    width: 500px;
   
    -webkit-backdrop-filter: blur(90px);backdrop-filter: blur(90px);
    border-radius: 24px 24px 24px 24px;
    
    
}

picture {
    height: fit-content;
    width: 100%;
    align-self: center;
}

img {
    height: 100px;
    width: 100px;
}

#formulario {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    
}

#caja_formulario {
    width: 81%;
    height: 200px;

}

#caja_label {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#etiqueta {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(229, 229, 229);
    width: 50%;
    font-size: 1.5em;
    height: 30px;

}

#caja_input {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
}

#campo {
    width: 65%;
    align-self: flex-start;
    height: 25px;
    background-color: transparent;
    border: none;
    color: rgb(229, 229, 229);
    border-bottom: 2px solid rgb(229, 229, 229);
    outline: none;
    font-size: 1.5em;

}

input[type=number]::-webkit-inner-spin-button, /*PARA QUITAR BOTONES DE INCREMENTO Y DECREMENTO*/
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#contenedor_botones {
    width: 100%;
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-around;
    
}

#boton {
    height: 40px;
    width: 156px;
    border: none;
    background-color: rgb(23, 80, 124);
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    
}

#boton:hover {
    background-color: rgb(19, 66, 102);
}

#boton_regresar {
    appearance: button;
    height: 35px;
    width: 159px;
    padding: 8px;
    text-decoration: none;
    color: rgb(18, 18, 18);
    background-color: rgb(95, 95, 95);
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    transition: 0.3s;
   
}

#boton_regresar:hover {
    background-color: rgb(74, 74, 74);
}