* {
    box-sizing: border-box;
    transform: all 0.3s ease-in-out; 
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background: #0f0f0f ;
    
    
}

#caja_video {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
 
    overflow: hidden; /* Evita que el video se desborde del contenedor */
}

#video {
    align-self: self-start;
    border-radius: 0px 0px 30px 30px;
    object-fit: cover;
}

#titulo_video {
    height: 30px;
    width: 780px;
    
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 35px;
    text-align: start;
    color: antiquewhite;
}

#boton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: initial;
    height: 43px;
    width: 170px;
    border-radius:0px;
    background-color: rgb(154, 165, 165);
    transition: background-color 0.7s;
    border-color: #484747;
    align-self: center;
    text-align: center;
    justify-self: center;
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
}

#boton:hover {
    background-color: #484747;
}

#accion {
    height: 43px;
    width: 170px;
}