<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iniciaSesion.css' ) }}">
</head>
<body>
    <main>
        <article id="lado_izq">
            
        </article> <!--main>article#lado_izq+article#lado_der>form*/-->
        
        <article id="lado_der">

            <form id="forma_prueba" name="" action="forma_prueba">

                <label for="campo_usuario" class="etiqueta">Tu nombre de usuario</label>            <!--teclado movil-->  <!--[rango de ingreso], {tamño de ingreso}-->
                <input type="text" name="campo_usuario" id="campo_usuario" inputmode="numeric" pattern="[0-9]{15}" minlength="7" maxlength="15" tabindex="1" required class="campo"> 

                <label for="campo_clave" class="etiqueta">Tu contraseña</label>
                <input type="password" name="campo_clave" id="campo_clave"
                tabindex="2" required class="campo">

                <button type="submit" id="btn_entrar" tabindex="3">ENTRAR</button>

            </form>

        </article>
    </main> 

</body>
</html>