<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' ) }}">
</head>
<body>
    <main>
        
        <article id="lado_der">

            <form method="post" id="forma_prueba" name="" action="/registrarse" enctype="multipart/form-data">

                <label for="correo" class="etiqueta">Tu correo electronico</label>
                <input type="email" class="campo" name="correo" id="campo_usuario" inputmode="email" minlength="15" required>

                <label for="campo_usuario" class="etiqueta">Tu nombre de usuario</label>            <!--teclado movil-->  <!--[rango de ingreso], {tamño de ingreso}-->
                <input type="text" name="nombreUsuario" id="campo_usuario"  minlength="3" maxlength="15" tabindex="1" required class="campo"> 

                <label for="campo_clave" class="etiqueta">Tu contraseña</label>
                <input name="contraseña" type="password" name="campo_clave" id="campo_clave"
                tabindex="2" required class="campo">

                <label class="etiqueta" for="fotoUsuario">imagen de usuario: </label>
                <input id="campo_usurio" required type="file" name="fotoUsuario">

                <button type="submit" id="btn_entrar" tabindex="3">ENTRAR</button>

            </form>

        </article>
        <h1>{{msg}}</h1>
    </main> 

</body>
</html>