<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' ) }}">
    <link rel="shortcut icon" href="../static/img//CP9.jpg">
</head>
<body>
    <main>
        
        <article id="lado_der">

            <form method="post" id="forma_prueba" name="" action="/loguear" enctype="multipart/form-data">

                <label for="correo" class="etiqueta">Tu correo electronico</label>
                <input type="email" class="campo" name="correo" id="campo_usuario" inputmode="email" minlength="15" required>

                <label for="contraseña" class="etiqueta">Tu contraseña</label>
                <input name="contraseña" type="password" name="campo_clave" id="campo_clave"
                tabindex="2" required class="campo">

                <button type="submit" id="btn_entrar" tabindex="3">ENTRAR</button>

            </form>

        </article>
        <h1>{{msg}}</h1>
    </main> 

</body>
</html>