<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' ) }}">
    <link rel="shortcut icon" href="../static/img//CP9.jpg">
</head>
<body>
    <main>
        
        <article id="lado_der">

            <form method="post" id="forma_prueba" name="" action="/loguear" enctype="multipart/form-data">
                <div id="caja_input">
                    <label for="correo" class="etiqueta">Tu correo electronico</label>
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" class="campo" name="correo" id="campo_usuario" inputmode="email" minlength="15" required>
                </div>
                <div id="caja_input"></div>
                <label for="contraseña" class="etiqueta">Tu contraseña</label>
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input name="contraseña" placeholder="●●●●●" type="password" name="campo_clave" id="campo_clave"
                tabindex="2" required class="campo">
                </div>
                <button type="submit" id="btn_entrar" tabindex="3">Entrar</button>
                <a href="/Regresar" id="boton" tabindex="4">Regresar</a>

            </form>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        </article>
        <h1>{{msg}}</h1>
    </main> 

</body>
</html>