<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video viewer online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/raiz.css' ) }}">
    <link rel="shortcut icon" href="../static/img//CP9.jpg">
</head>
<body>
    <div id="header">
        <div id="img_div"></div>
        <div id="texto_logo"><h1>video viewer<a id="numero_texto">Beta</a></h1></div>
        <div id="contenedor_sesion">
            <div id="usuario">
                <div id="bienvenida">  
                    <h3 >{{bienvenida}}</h3>
                </div>  
                {% if fot %}
                <img id="imagenUsuario"  width="60" height="60" src="uploads/{{fot}}" alt="">
                {%endif%}
            </div>
            <div id="estado_sesion">
                
                <a class="button" id="enlace_registro" href="/registro">Registrate</a>
                <a class="button" id="enlace_sesion" href="/loguin">Inciar Sesión</a>
                
            </div>
        </div>
    </div>
    
    <!--
    <div id="barra_izquierda">
        
    </div>
    -->
    <div id="articulo">
        <div id="parte_superior">
            
            <div id="barra_busqueda">
                <input value="Buscar" id="busqueda" type="text">
                <a  id="boton"></a>
            </div>
        </div>
        <div id="contenido">
            <h2 id="titulo_agregados">Agregados recientemente</h2>
            <section id="nuevos_videos">

                    <div class="caja-videos" >
                        <h4 class="titulo-video">perro escuchando musica</h4>
                        <video width="300" height="200" controls>
                        <source src="{{ url_for('uploads', filename='perro_escuchando_musica.mp4') }}" type="video/mp4">
                    </div>

                    <div class="caja-videos" >
                        <h4 class="titulo-video">Gato</h4>
                        <video width="300" height="200" controls>
                        <source src="{{ url_for('uploads', filename='video gato.mp4') }}" type="video/mp4">
                    </div>

                    <div class="caja-videos" >
                        <h4 class="titulo-video">f en el chat</h4>
                        <video width="300" height="200" controls>
                        <source src="{{ url_for('uploads', filename='mario.mp4') }}" type="video/mp4">
                    </div>

                    <div class="caja-videos" >
                        <h4 class="titulo-video">perro escuchando musica</h4>
                        <video width="300" height="200" controls>
                        <source src="{{ url_for('uploads', filename='perro_escuchando_musica.mp4') }}" type="video/mp4">
                    </div>
    
                </div>
                
            </section>

            
        </div>
    </div>



    <footer id="pie_pagina">
        <div id="div_pie1">  
            <div id="imagen_pie"></div>
            <h3 id="texto_pie">©2023 video viewer</h3>
            <h3 id="texto_pie">imagenes obtenidas de: <a href="https://es.vexels.com/merch/png/capibaras/">Presiona aqui</a></h3>
        </div> 

        <div id="div_pie2">
            <div id="imagen_pie2"></div>
            <div id="desarrollador">
                <h3 id="creditos">Desarrollado por: CP9</h3>
                <br>
                <div id="imagen_CP9" ></div>
            </div>
            <div id="mas">
                <h3 id="texto_pie">Siguenos: </h3>
                <div id="siguenos"></div>
            </div>
        </div>
       
    </footer>
    
</body>
</html>