<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video viewer online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/raiz.css' ) }}">
    <link rel="shortcut icon" href="../static/img//CP9.jpg">
    <script>
        function validateForm() {
            var inputValue = document.getElementById("busqueda").value;
            if (inputValue.trim().length === 0) {
                alert("Por favor, ingresa al menos un carácter.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    
    <div id="header">
        <div id="img_div"></div>
        <div id="texto_logo"><h1>video viewer<a id="numero_texto">Beta</a></h1></div>
        <div id="contenedor_sesion">
            <div id="usuario">
                <div id="bienvenida">  
                    <h3 >{{bienvenida}}</h3>
                </div>  
                {% if fot %}
                <img id="imagenUsuario"  width="60" height="60" src="uploads/{{fot}}" alt="">
                {%endif%}
            </div>
            <div id="estado_sesion">
                
                <a class="button" id="enlace_registro" href="/registro">Registrate</a>
                <a class="button" id="enlace_sesion"  href="/loguin">Inciar Sesión</a>
                {% if fot %}
                <a class="button" id="enlace_cerrar" href="/cerrarSesion">Cerrar Sesión</a>
                {% endif %}
                
            </div>
        </div>
    </div>

    <!--
    <div id="barra_izquierda">
        
    </div>
    -->
    <br>
    <div id="articulo">
        {% if fot %}
        <ul id="opciones_usuario">
            <li><a id="usuarios" class="button" href="/subirVideo">Subir un video</a></li>
            <li><a id="usuarios" class="button" href="">Mirar mis videos</a></li>
        </ul>
        {% endif %}
        <div id="parte_superior">
            
            <form onsubmit="return validateForm()" method="post" enctype="multipart/form-data" action="/buscar" id="barra_busqueda">
                <input minlength="2" name="buscar" placeholder="Buscar" id="busqueda" type="text">
                <button  id="boton" onclick="" type="submit"></button>
            </form>
        </div>
        <br>
        
        <div id="contenido">
            <h2 id="titulo_agregados">Agregados recientemente por el creador</h2>
            <section id="slider_box">
                <ul>
                    <li>
                        <img src="../static/img/facebook-logo-3-1-removebg-preview.png" alt="">
                    </li>
                    <li>
                        <img src="../static/img/CP9.jpg" alt="">
                    </li>
                    <li>
                        <img src="../static/img/capisub.png" alt="">
                    </li>
                </ul>
            </section>
            <hr>
            <section id="padre_contenido">
                <h2 id="titulo_contenido" class="texto_pie">Contenido Video viewer</h2>
                    <div id="contenedor_contenido">

                        {% for video_info in res %}
                        <div id="contenedor_portada">
                            <div id="contenedor">
                                <a href="{{ url_for('ver_video', video_id=video_info[1], nombre_video=video_info[2]) }}">
                                    <img id="imagenPortada" src="uploads/{{ video_info[3] }}" alt="">
                                </a>
                            </div>
                            <div id="descripcion_portada">
                                <p id="nombre_portada">{{ video_info[2] }}</p>
                                <p id="usuario_portada">Subido por: {{ video_info[0] }}</p>
                                <img id="usuario_imagen" height="45px" width="40px" src="uploads/{{ video_info[4] }}" alt="">
                                <p id="fecha">Fecha subida: {{video_info[5]}}</p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
            </section>
        </div>
            
        </div>
    </div>

    <footer id="pie_pagina">
        <div id="div_pie1">  
            <div id="imagen_pie"></div>
            <div>
                <h3 id="texto_pie">© 2023 Video Viewer</h3>
                <p id="texto_pie">Imágenes de capibaras obtenidas de: <a href="https://es.vexels.com/merch/png/capibaras/">Presiona aquí</a></p>
            </div>
        </div>
        
        
        <div id="div_pie2">
            <div id="imagen_CP9"></div>
            <div id="desarrollador">
                <h3 id="creditos">Desarrollado por: CP9</h3>
            </div>
            <div id="mas">
                <h3 id="texto_pie">Síguenos: </h3>
                <div id="siguenos"></div>
            </div>
        </div>
    </footer>
    
</body>
</html>