<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video viewer online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/raiz.css' ) }}">
</head>
<body>
    <div id="header">
        <div id="img_div"></div>
        <div id="texto_logo"><h1>video viewer<a id="numero_texto">Beta</a></h1></div>

        <div id="contenedor_sesion">
            <div id="estado_sesion">
                <button id="iniciar_sesion">
                    <a id="enlace_sesion" href="/iniciaSesion">Registrate</a>
                </button>
            </div>
        </div>
    </div>
    
    <!--
    <div id="barra_izquierda">
        
    </div>
    -->
    <div id="articulo">
        <div id="parte_superior">
            <div id="barra_busqueda">
                <input value="Buscar" id="busqueda" type="text">
                <button id="boton"></button>
            </div>
        </div>
        <div id="contenido">
            
        </div>
    </div>



    <footer id="pie_pagina">
        <div id="div_pie1">  
            <div id="imagen_pie"></div>
            <h3 id="texto_pie">©2023 video viewer</h3>
            <h3 id="texto_pie">imagenes obtenidas de: <a href="https://es.vexels.com/merch/png/capibaras/">Presiona aqui</a></h3>
        </div> 

        <div id="div_pie2">
            <div id="imagen_pie2"></div>
            <div id="desarrollador">
                <h3 id="creditos">Desarrollado por: CP9</h3>
                <br>
                <div id="imagen_CP9" ></div>
            </div>
            <div id="mas">
                <h3 id="texto_pie">Siguenos: </h3>
                <div id="siguenos"></div>
            </div>
        </div>
       
    </footer>
    
</body>
</html>