<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifica tu correo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verificaCorreo.css' ) }}">
</head>
<body>
    <main id="gran_padre">
        
        <form id="formulario" action="{{ url_for('compruebaCorreo',codigo=cod)}}" method="post">
            <h2>Verifica que eres tu</h2>
            <p>Se ha enviado un codigo a tu correo</p>
            <p>{{msg}}</p>
            <div id="caja_formulario">
                <div id="caja_label">
                    <label id="etiqueta" for="campo">Escribe tu codigo</label>
                    
                </div>    

                    <div id="caja_input">
                        <input placeholder="Ingrese su codigo" type="text" pattern="[0-9]{5}" maxlength="5" required id="campo" name="campo"></input>
                    </div>
                    <p id="reenviar_codigo">¿No recibiste el codigo? <a href="">Reenviar codigo</a></p>
                    <div id="contenedor_botones">
                        <a href="/Regresar"  id="boton_regresar" tabindex="4">Regresar</a>
                        <button  id="boton" type="submit">Consultar</button>
                    </div>
            </div>
            <picture><img src="/static/img/imagen-capi-removebg-preview.png" alt=""></picture>
        </form>
        
    </main>
</body>
</html>